<nav>
    <div class="nav-wrapper">
        <a href = "#" class = "brand-logo">Приложение Авто</a>
        <ul id = "nav-mobile" class="right hide-on-med-and-down">
            {{#if isHome}}
            <li class="active"><a href="/">Главная</a></li>
            {{else}}
            <li><a href="/">Главная</a></li>
            {{/if}}

            {{#if isAutos}}
            <li class="active"><a href="/autos">Авто</a></li>
            {{else}}
            <li><a href="/autos">Авто</a> </li>
            {{/if}}

            {{#if isAdd}}
            <li class="active"><a href="/add">Добавить авто</a></li>
            {{else}}
            <li><a href="/add">Добавить авто</a></li>
            {{/if}}

            {{#if isFav}}
            <li class="active"><a hred='/fav'>Фаворит</a></li>
            {{else}}
            <li><a href='/fav'>Фаворит</a></li>
            {{/if}}
        </ul>
    </div>
</nav>